<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Glasgow Rangers</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <style>
    #banner{
      width: 100%;
      height: 360px;
      object-fit: cover;
    }
  </style>


</head>
<body>
    <header>
    </header>



    <div class="container">
      <main role="main" class="pb-3">
        <h1 class="text-center text-body-secondary text-bold mt-2 mb-4 display-1"><strong>Glasgow Rangers</strong></h1>
        <img id="banner"  src="{{ url_for('static', filename='images/ibrox_banner.jpeg') }}" height:"320" >
        <h2>About Rangers</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Congue eu consequat ac felis donec et. Egestas congue quisque egestas diam in arcu cursus euismod. Facilisis volutpat est velit egestas dui id. Consectetur a erat nam at lectus urna duis convallis convallis. Enim diam vulputate ut pharetra. Habitasse platea dictumst vestibulum rhoncus est pellentesque. Adipiscing commodo elit at imperdiet dui accumsan sit amet. Lobortis feugiat vivamus at augue eget arcu. Vel pretium lectus quam id leo in vitae. Elit at imperdiet dui accumsan sit. Leo vel fringilla est ullamcorper eget nulla facilisi etiam. Accumsan lacus vel facilisis volutpat est velit egestas. In est ante in nibh mauris cursus mattis. Commodo nulla facilisi nullam vehicula. Aliquam ultrices sagittis orci a scelerisque. Velit dignissim sodales ut eu sem integer vitae justo.</p>
        <h2>Players</h2>
        <p>TODO - LIST OF BEST PLAYERS</p>
      </main>
    </div>



    <footer class="border-top footer text-muted">
    </footer>
</body>
</html>